.portfolio {
  &__category {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px auto;
  }
}
